.container {
	width: 100%;
	height: 600px;
	display: flex;
	align-items: center;
}

.image {
	width: 750px;
	height: 440px;
	margin-left: 80px;
}

.content {
	margin-left: 80px;
	overflow-wrap: break-word;
	width: 550px;
	
	h3 {
		margin-bottom: 30px;
		font-weight: 600;
	}
}