.container {
  width: 1680px;
  height: 960px;
  background-image: url(../../images/videoPlayer.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pause_player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background: #18a0fb;
  cursor: pointer;
}
.pause_player div {
  margin-left: 15px;
  display: inline-block;
  border-style: solid;
  border-width: 29.5px 0 29.5px 59px;
  border-color: transparent transparent transparent #ffffff;
}

.content {
  position: relative;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 150px;
  margin-top: 50px;
}
.content .title {
  font-weight: 400;
  color: #ffffff;
}
.content .btn {
  width: 192px;
  height: 52px;
  border-radius: 5px;
  border: none;
  background: #18a0fb;
  color: #ffffff;
  cursor: pointer;
}